
<template>
  <div>
    <div class="small">
      <bar-chart :chart-data="datacollection" v-bind:width="width" v-bind:height="height" :options="options"></bar-chart>
      <!--<button @click="fillData()">Randomize</button>-->
      <!--<button @click="set_symbol()">Set symbol</button>-->
    </div>
  </div>
</template>

<script>
  import BarChart from './BarChart.js'
  var Socket = require('simple-websocket');
  var socket = new Socket('ws://localhost:8000');


  export default {
    components: {
      BarChart
    },
    data () {
      return {
        options: {
          responsive: true,
          maintainAspectRatio: false,
          animation: {
            duration: 0
          }
        },
        width: 900,
        height: 300,
        datacollection: {
          labels: [45, 34],
          datasets: [
            {
              backgroundColor: ['rgba(191, 27, 27, 0.4)', 'rgba(191, 27, 27, 0.4)'],
              borderColor: ['rgba(191, 27, 27, 0.8)', 'rgba(191, 27, 27, 0.8)'],
              label: 'Volume Sell',
              data: [34, 54]
            }
          ]
        }
      }
    },
    colorGenerate (color, n) {
      return Array.from({length: n}, () => color);
    },
    created () {
      this.fetchData();
      this.fillData();
    },
    mounted () {
      this.fillData();
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: this.getRandomArray(40),
            datasets: [
            {
              backgroundColor: Array.from({length: 40}, () => 'rgba(191, 27, 27, 0.4)'),
              borderColor: Array.from({length: 40}, () => 'rgba(191, 27, 27, 0.8)'),
              label: 'Volume Sell',
              data: this.getRandomArray(40)
            }
          ]
        }
      },
      fetchData () {
        socket.on('data', data => {
          var label = JSON.parse(data).sell[0].symbol;
          var data_x = [];
          var data_y = [];
          JSON.parse(data).sell.forEach(function(item, i, arr) {
            data_x.push(JSON.parse(data).sell[i].time.split("T")[1].replace("Z", ""));
            data_y.push(parseFloat(JSON.parse(data).sell[i].quantity));
          });

          this.datacollection = {
            labels: data_x,
            datasets: [
              {
                backgroundColor: Array.from({length: data_y.length}, () => 'rgba(191, 27, 27, 0.4)'),
                borderColor: Array.from({length: data_y.length}, () => 'rgba(191, 27, 27, 0.8)'),
                label: label + ' Sell',
                data: data_y
              }
            ]
          }
        });
      },
      getRandomArray (n) {
        return Array.from({length: n}, () => Math.floor(Math.random() * 100));
      }
    }
  }
</script>

<style scoped>
  .chartAreaWrapper{
    width: 70%;
    overflow-x: scroll;
  }

  .small {
    max-width: 900px;
    max-height: 300px;
    margin:  15px 20px;
  }

</style>
