
<template>
  <div>
    <div class="small">
      <line-chart :chart-data="datacollection" v-bind:width="width" v-bind:height="height" :options="options"></line-chart>
    </div>
  </div>
</template>

<script>
  import LineChart from './MainChart.js'
  var Socket = require('simple-websocket');
  var socket = new Socket('ws://localhost:8000');

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        options: {
          responsive: true,
          maintainAspectRatio: false,
          animation: {
            duration: 0
          }
        },
        width: 900,
        height: 500,
        datacollection: {
          labels: [45, 34],
          datasets: [
            {
              fill: false,
              tension: 0,
              label: 'Ask',
              backgroundColor: "rgba(191, 27, 27, 0.4)",
              borderColor: "rgba(191, 27, 27, 1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(191, 27, 27, 1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(191, 27, 27, 1)",
              pointHoverBorderColor: "rgba(191, 27, 27, 1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: [34, 54],
              spanGaps: false
            }
          ]
        }
      }
    },
    created () {
      this.fetchData();
      this.fillData();
    },
    mounted () {
      this.fillData();
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: this.getRandomArray(40),
          datasets: [
            {
              fill: false,
              tension: 0,
              label: 'Sell',
              backgroundColor: "rgba(191, 27, 27, 0.4)",
              borderColor: "rgba(191, 27, 27, 1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(191, 27, 27, 1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(191, 27, 27, 1)",
              pointHoverBorderColor: "rgba(191, 27, 27, 1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: this.getRandomArray(40),
              spanGaps: false
            }
          ]
        }
      },
      fetchData () {
        socket.on('data', data => {
          //console.log('got message: ' + data);
          var label = JSON.parse(data).sell[0].symbol;
          var data_x = [];
          var data_y = [];
          JSON.parse(data).sell.forEach(function(item, i, arr) {
            data_x.push(JSON.parse(data).sell[i].time.split("T")[1].replace("Z", ""));
            data_y.push(parseFloat(JSON.parse(data).sell[i].price));
          });

          this.datacollection = {
            labels: data_x,
            datasets: [
              {
                fill: false,
                tension: 0,
                label: label + " Sell",
                backgroundColor: "rgba(191, 27, 27, 0.4)",
                borderColor: "rgba(191, 27, 27, 1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(191, 27, 27, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(191, 27, 27, 1)",
                pointHoverBorderColor: "rgba(191, 27, 27, 1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: data_y,
                spanGaps: false
              }
            ]
          }
        });
      },
      getRandomArray (n) {
        return Array.from({length: n}, () => Math.floor(Math.random() * 100));
      }
    }
  }
</script>

<style scoped>
  .chartAreaWrapper{
    width: 70%;
    overflow-x: scroll;
  }

  .small {
    max-width: 900px;
    margin:  15px 20px;
  }

</style>
