
<template>
  <div>
    <div class="small">
      <b-table striped hover :width="width" :height="height" :items="items" :fields="fields"></b-table>
    </div>
  </div>
</template>

<script>
  var Socket = require('simple-websocket');
  var socket = new Socket('ws://localhost:8000');

  export default {
    data() {
      return {
        width: 400,
        height: 700,
        fields: ['Price', 'Amount', 'Date'],
        items: [
          { Price: 0.40, Amount: 0.21, Date: 'Macdonald',
            _rowVariant: 'danger' }
        ]
      }
    },
    created () {
      this.fetchData();
      this.fillData();
    },
    mounted () {
      this.fillData();
    },
    methods: {
      fillData () {
        this.items = [
          { Price: 0.40, Amount: 0.21, Date: 'Macdonald',
            _rowVariant: 'danger' }
        ]
      },
      fetchData () {
        socket.on('data', data => {
          var items = [];
          JSON.parse(data).sell.forEach(function(item, i, arr) {
            var _date = JSON.parse(data).sell[i].time.replace("T", " ").replace("Z", "");
            var _amount = parseFloat(JSON.parse(data).sell[i].quantity);
            var _price = parseFloat(JSON.parse(data).sell[i].price);
            items.push({ Price:_price, Amount: _amount, Date: _date,
              _rowVariant: 'danger' });
          });
          items.reverse();

          this.items = items
        });
      },
      getRandomArray (n) {
        return Array.from({length: n}, () => Math.floor(Math.random() * 100));
      },
      set_symbol (id) {
        socket.send(id.toElement.innerHTML);
      }
    }
  }
</script>

<style scoped>
  .chartAreaWrapper{
    width: 70%;
    overflow-x: scroll;
  }

  .small {
    max-width: 400px;
    max-height: 700px;
    margin:  50px 20px;
    overflow-x: scroll;
  }

</style>
