<template>
  <div id="app">
    <MainBuyChart style="float: left" />
    <TableBuy style="float: right"/>
    <BarChartBuy style="float: left" />
    <MainSellChart style="float: left" />
    <TableSell style="float: right"/>
    <BarChartSell style="float: left" />
  </div>
</template>

<script>
  import MainBuyChart from './components/MainBuyChart.vue'
  import BarChartBuy from './components/BarChartBuy.vue'
  import TableBuy from './components/TableBuy.vue'
  import MainSellChart from './components/MainSellChart.vue'
  import BarChartSell from './components/BarChartSell.vue'
  import TableSell from './components/TableSell.vue'

  export default {
    name: 'app',
    components: {
      MainBuyChart,
      TableBuy,
      BarChartBuy,
      MainSellChart,
      TableSell,
      BarChartSell
    }
  }
</script>

<style>

</style>

